<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Ajustes">
		<setting id="autoclean" type="bool" label="Auto limpieza al inicio" default="true" /> 
		<setting type="lsep" label="Numero limite de la carpeta de paquetes de archivos" />
		<setting id="filesize_alert" type="slider" label="Numero Maximo de ficheros a borrar" default="100" range="25,500" option="int" />
		<setting id="packagenumbers_alert" type="slider" label="Numero maximo de archivos zip a borrar" default="100" range="5,200" option="int" />
		<setting type="lsep" label="limite de la carpeta de imagenes a borrar" />
		<setting id="filesizethumb_alert" type="slider" label="numero de archivos maximo" default="250" range="50,999" option="int" />
	</category>

	</settings>
